{
	"env": {
		"browser": true, // For browser globals
		"es6": true // For ES6+ features
	},
	"parserOptions": {
		"ecmaVersion": 2024, // Latest JS features (private fields, logical assignment, etc.)
		"sourceType": "module" // Enable ES Modules
	}
}
